
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="map"></div>
<form method="post" action="/Home/SaveDrawing">
    <input type="hidden" name="Coordinates" id="coordinatesInput" value="" />
    <input type="hidden" name="Type" id="typeInput" value="" />
    <input type="hidden" name="Shape" id="geometryInput" value="" />
    <button type="submit">Kaydet</button>
</form>


