@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="map" style="width: 100%; height: 600px;"></div>

<form method="post" action="/Home/SaveDrawing">
    <input type="hidden" name="Coordinates" id="coordinatesInput" value="" />
    <input type="hidden" name="Type" id="typeInput" value="" />
    <input type="hidden" name="Shape" id="geometryInput" value="" />
    <button type="submit">Kaydet</button>
</form>
<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            function (position) {
                var userLatitude = position.coords.latitude;
                var userLongitude = position.coords.longitude;

                console.log('Kullanıcı konumu:', userLatitude, userLongitude);
            },
            function (error) {
                console.error('Konum alınamadı:', error.message);
            }
        );
    } else {
        console.error('Tarayıcı geolocation API desteklemiyor.');
    }
</script>
<script>
    var pharmaciesData = @Html.Raw(Json.Serialize(ViewBag.PharmaciesData));
    console.log(pharmaciesData);
    var pharmaciesData = { "success": true, "result": [{ "name": "ELİF ECZANESİ", "dist": "İNEGÖL", "address": "HAMİDİYE MAH. KASIM EFENDİ CAD. NO:102-1/A POSTA KODU:16400", "phone": "2247112417", "loc": "40.07335797,29.51393004" }, { "name": "ÇELEBİ ECZANESİ", "dist": "YILDIRIM", "address": "ERTUĞRULGAZİ MAH. OKUL SOK. NO:11/A POSTA KODU:16320", "phone": "2243690740", "loc": "40.177576,29.114966" }, { "name": "GÜLŞAH ECZANESİ", "dist": "GÜRSU", "address": "KURTULUŞ MAH. ATATÜRK CAD. NO:130/A POSTA KODU:16580", "phone": "2243719020", "loc": "40.211794,29.191923" }, { "name": "AYLA ECZANESİ", "dist": "KESTEL", "address": "VANİ MEHMET MAH. HAKİM AYTEKİN BAYSAL SOK. NO:7/A 16450", "phone": "2243722733", "loc": "40.19941,29.213327" }, { "name": "SEDA ECZANESİ", "dist": "GEMLİK", "address": "EŞREF DİNÇER MAH. KESTANE SOK. NO:20 POSTA KODU:16600", "phone": "2245137068", "loc": "40.43292498,29.16151992" }, { "name": "UYSAL ECZANESİ", "dist": "İZNİK", "address": "MAHMUT ÇELEBİ MAH. KILIÇASLAN CAD. NO:2/6-A POSTA KODU:16860", "phone": "2247571291", "loc": "40.42868796,29.71984392" }, { "name": "ÇINAR ECZANESİ", "dist": "KELES", "address": "CUMA MAH. TAHİR HOCA CAD. NO:1 POSTA KODU:16740", "phone": "2248613072", "loc": "39.913164,29.23273008" }, { "name": "GÜLSER ECZANESİ", "dist": "MUSTAFAKEMALPAŞA", "address": "HAMZABEY MAH. HÜSEYİN ÖZLÜ SOK. NO:16/A POSTA KODU:16500", "phone": "2246134210", "loc": "40.038822,28.40776308" }, { "name": "YALÇIN ECZANESİ", "dist": "ORHANELİ", "address": "İSMETPAŞA MAH. CAMİ KARŞISI SOK. NO:3 POSTA KODU:16980", "phone": "2248171286", "loc": "39.90240297,28.98882612" }, { "name": "KUTLUAY ECZANESİ", "dist": "MUDANYA", "address": "EĞİTİM MAH. LİSE CAD. BAYSAN APT. NO:25/A GÜZELYALI POSTA KODU:16140", "phone": "2244531223", "loc": "40.35121398,28.92850416" }, { "name": "YASEMİN ECZANESİ", "dist": "YENİŞEHİR", "address": "YENİGÜN MAH. GÜL SOK. NO:1 POSTA KODU:16900", "phone": "2247722606", "loc": "40.26824802,29.65202388" }, { "name": "ULAŞ ECZANESİ", "dist": "HARMANCIK", "address": "MERKEZ MAH. FEVZİ PAŞA CAD. NO:9/A POSTA KODU:16770", "phone": "2248812272", "loc": "39.67902702,29.15490204" }, { "name": "KONAK SEVİL ECZANESİ", "dist": "NİLÜFER", "address": "KONAK MAH. BURAK SOK. NO:21/B POSTA KODU:16110", "phone": "2244534180", "loc": "40.209213,28.98711" }, { "name": "DOĞAN ECZANESİ", "dist": "OSMANGAZİ", "address": "BAHAR MAH. NASİP SOK. NO:9 POSTA KODU:16240", "phone": "2242727285", "loc": "40.203136,29.066585" }, { "name": "NİLÜFER MERVE ECZANESİ", "dist": "NİLÜFER", "address": "CUMHURİYET MAH. GAZİ CAD. NO:48/A-B POSTA KODU:16140", "phone": "2244525255", "loc": "40.222018,28.972105" }, { "name": "NARMANLI ECZANESİ", "dist": "NİLÜFER", "address": "YÜZÜNCÜYIL MAH. HAKAN SEPETÇİ CAD. NO:2A/H POSTA KODU:16280", "phone": "2249093569", "loc": "40.216502,28.893327" }, { "name": "MERKEZ BURSA ECZANESİ", "dist": "OSMANGAZİ", "address": "İNTİZAM MAH. İLKBAHAR CAD. 18/A POSTA KODU:16050", "phone": "2242531319", "loc": "40.19448,29.055746" }, { "name": "BATI TRAKYA ECZANESİ", "dist": "YILDIRIM", "address": "YİĞİTLER MAH. TÜRKMENBAŞI CAD. NO:123/A2 POSTA KODU:16290", "phone": "2243420298", "loc": "40.189238,29.154597" }, { "name": "1050 KONUTLAR ECZANESİ", "dist": "OSMANGAZİ", "address": "AKPINAR MAH. HANCI CAD. NO:22/1 POSTA KODU:16160", "phone": "2242422122", "loc": "40.243798,28.972074" }, { "name": "KUZEY ECZANESİ", "dist": "YILDIRIM", "address": "MİLLET MAH. 7202 SOK. NO:4/C POSTA KODU:16260", "phone": "2242120072", "loc": "40.21423,29.095499" }, { "name": "NİLÜFER SU ECZANESİ", "dist": "NİLÜFER", "address": "ÜÇEVLER MAH. ÜLMAN SOK. NO:6/1A POSTA KODU:16270", "phone": "2244414383", "loc": "40.19765,28.948233" }, { "name": "GÜRKAN ECZANESİ", "dist": "NİLÜFER", "address": "ESENTEPE MAH. TUNA CAD. NO:96/A POSTA KODU:16130", "phone": "2242400848", "loc": "40.2243,28.983861" }, { "name": "BEYAZIT ECZANESİ", "dist": "YILDIRIM", "address": "BEYAZIT MAH. EĞİTİM CAD. KASIM ÖNADIM BULVARI NO:15 POSTA KODU:16330", "phone": "2243641015", "loc": "40.185856,29.100612" }, { "name": "YENİKALE ECZANESİ", "dist": "OSMANGAZİ", "address": "DİKKALDIRIM MAH. HAT CAD. NO:1/1-B POSTA KODU:16090", "phone": "2242364698", "loc": "40.207872,29.018024" }, { "name": "ORHANGAZİ ECZANESİ", "dist": "ORHANGAZİ", "address": "HÜRRİYET MAH. CAMİ SOK. NO:13/B POSTA KODU:16820", "phone": "2245733373", "loc": "40.483893,29.30615" }, { "name": "AKKAYNAK ECZANESİ", "dist": "OSMANGAZİ", "address": "DEMİRTAŞ BARBAROS MAH. CUMHURİYET CAD. NO:1/B POSTA KODU:16245", "phone": "2242622266", "loc": "40.271445,29.093272" }, { "name": "MELİS ECZANESİ", "dist": "GEMLİK", "address": "BALIKPAZARI MAH. YEDİEVLER SOK. NO:59/A POSTA KODU:16600", "phone": "2245135265", "loc": "40.43557899,29.15402688" }, { "name": "HAYAT ECZANESİ", "dist": "KARACABEY", "address": "SIRABADEMLER MAH. ORTAOKUL CAD. NO:76 POSTA KODU:16700", "phone": "2246600006", "loc": "40.21101801,28.36103292" }, { "name": "GİZEM NUR ECZANESİ", "dist": "OSMANGAZİ", "address": "ELMASBAHÇELER MAH. GAZLI SOK. NO:68/A POSTA KODU:16230", "phone": "2242513210", "loc": "40.192146,29.076706" }, { "name": "NARLI ECZANESİ", "dist": "OSMANGAZİ", "address": "YUNUSELİ MAH. YUNUSELİ BULVARI NO:195/B POSTA KODU:16104", "phone": "2242484898", "loc": "40.248124,29.015635" }, { "name": "YENİ ORHAN ECZANESİ", "dist": "BÜYÜKORHAN", "address": "ORHAN MAH. DR.İBRAHİM ÖKTEM CAD. NO:35 POSTA KODU:16990", "phone": "5062260344", "loc": "39.77504298,28.88199504" }, { "name": "TUBA GÜMÜŞ ECZANESİ", "dist": "İNEGÖL", "address": "BURHANİYE MAH. KEMALETTİN SAMİ PAŞA CAD. NO:30 POSTA KODU:16400", "phone": "2247156368", "loc": "40.08051396,29.50676712" }, { "name": "ZÜMRÜT ECZANESİ", "dist": "İNEGÖL", "address": "HAMİDİYE MAH. HASTANE CAD. NO:35/C POSTA KODU:16400", "phone": "5312394404", "loc": "40.10166999,29.52455688" }, { "name": "AKÇALAR ECZANESİ", "dist": "NİLÜFER", "address": "AKÇALAR MAH. KANAL(660) CAD. NO:14/B/A POSTA KODU:16225", "phone": "2244885086", "loc": "40.176073,28.744807" }, { "name": "BİLGİN ECZANESİ", "dist": "MUDANYA", "address": "ÖMERBEY MAH. DENİZ CAD. 2.BARIŞ SOK. AKARSU SİTESİ C-BLOK NO:4B POSTA KODU:16940", "phone": "2245448474", "loc": "40.369699,28.891523" }, { "name": "FLORA ECZANESİ", "dist": "NİLÜFER", "address": "23 NİSAN MAH. KÖROĞLU CAD. NO:5B/B POSTA KODU:16090", "phone": "2249090216", "loc": "40.217581,28.945144" }] };
    var openstreetmapUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        openstreetmap = L.tileLayer(openstreetmapUrl, { maxZoom: 18 }),
        map = new L.Map('map', { center: new L.LatLng(40.18869647290294, 29.054207783048007), zoom: 10 }),
        drawnItems = L.featureGroup().addTo(map);
    openstreetmap.addTo(map);


    var drawControl = new L.Control.Draw({
        draw: {
            polygon: true,
            polyline: true,
            rectangle: true,
            circle: true,
            marker: true
        },
        edit: {
            featureGroup: drawnItems,
            remove: true
        }
    });
    map.addControl(drawControl);

    L.control.layers({
        'OpenStreetMap': openstreetmap,
        'Google': L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
            attribution: 'Google'
        })
    }, { 'Draw Layer': drawnItems }, { position: 'topleft', collapsed: false }).addTo(map);
    map.on('draw:created', function (e) {
        var layer = e.layer;
        drawnItems.addLayer(layer);

        var geoJSON = layer.toGeoJSON();
        var shapeType = geoJSON.geometry.type;
        var coordinates = geoJSON.geometry.coordinates;

        document.getElementById('coordinatesInput').value = coordinates;
        document.getElementById('typeInput').value = shapeType;

        console.log(coordinates);
    });

    var pharmacyIcon = L.icon({
        iconUrl: '/img.png',
        iconSize: [32, 32],
        iconAnchor: [16, 32],
        popupAnchor: [0, -32]
    });

    var pharmacyMarkers = [];

    function removeAllMarkers() {
        pharmacyMarkers.forEach(function (marker) {
            marker.remove();
        });
    }

    pharmaciesData.result.forEach(function (pharmacy) {
        var loc = pharmacy.loc.split(',');
        var latLng = new L.LatLng(parseFloat(loc[0]), parseFloat(loc[1]));

        var marker = L.marker(latLng, { icon: pharmacyIcon }).addTo(map);

        pharmacyMarkers.push(marker);

        marker.bindPopup(
            '<b>' + pharmacy.name + '</b><br>' +
            'Adres: ' + pharmacy.address + '<br>' +
            'Telefon: ' + pharmacy.phone
        );
    });

    var userLocationMarker;
    function addUserLocationToMap(location) {
        if (userLocationMarker) {
            userLocationMarker.remove();
        }

        var userIcon = L.icon({
            iconUrl: 'https://cdn0.iconfinder.com/data/icons/user-icons-4/100/user-17-512.png',
            iconSize: [40, 40],
            iconAnchor: [16, 32],
            popupAnchor: [0, -32] 
        });

        userLocationMarker = L.marker(location, { icon: userIcon }).addTo(map);

        var popupContent = '<b>Kullanıcı Konumu</b><br>' +
            'Konum: ' ;

        var userLatitude = location.lat;
        var userLongitude = location.lng;

        var popupContent = '<b>Kullanıcı Konumu Bilgileri</b><br>' +
            'Konum: ' + userLatitude + ', ' + userLongitude;

        userLocationMarker.bindPopup(popupContent);

        userLocationMarker.on('click', function () {
            userLocationMarker.openPopup();
        });

        map.setView(location, 15);

        var shapeType = document.getElementById('typeInput').value;
        var coordinates = document.getElementById('coordinatesInput').value;

    }

    navigator.geolocation.getCurrentPosition(function (position) {
        var userLatLng = new L.LatLng(position.coords.latitude, position.coords.longitude);

        addUserLocationToMap(userLatLng);

        document.getElementById('coordinatesInput').value = position.coords.latitude + ',' + position.coords.longitude;
    }, function (error) {
        console.error('Geolocation error: ' + error.message);
    });
</script>
